<span [ngSwitch]="inspectType">
  <span *ngSwitchCase="'undefined'">
    undefined
  </span>
  <span *ngSwitchCase="'null'">
    null
  </span>
  <span *ngSwitchCase="'function'">
    function
  </span>
  <span *ngSwitchCase="'boolean'">
    {{data | json}}
  </span>
  <span *ngSwitchCase="'number'">
    {{data | json}}
  </span>
  <span *ngSwitchCase="'string'">
    {{data | json}}
  </span>
  <div *ngSwitchCase="'object'" [ngClass]="{ 'ps-4': depth > 0}">
    <ng-container [ngTemplateOutlet]="arrayOrObjectTemplate"></ng-container>
  </div>
  <div *ngSwitchCase="'array'" [ngClass]="{ 'ps-4': depth > 0}">
    <ng-container [ngTemplateOutlet]="arrayOrObjectTemplate"></ng-container>
  </div>
  <span *ngSwitchDefault>
    Unknown inspect type {{inspectType}}
  </span>
</span>

<ng-template #arrayOrObjectTemplate>
  <div *ngFor="let prop of propertyKeys">
    <mat-icon class="me-2">{{getPropertyIconName(prop)}}</mat-icon>
    <span class="property-key">{{prop}}</span> :
    <span class="property-value">
        <span *ngIf="isArrayOrObject(prop)">
          <button mat-icon-button *ngIf="!areChildrenCollapsedForKey(prop)" matTooltip="Collapse"
                  (click)="collapseChildrenForKey(prop)">
            <mat-icon>unfold_less</mat-icon>
          </button>
          <button mat-icon-button *ngIf="areChildrenCollapsedForKey(prop)" matTooltip="Expand"
                  (click)="expandChildrenForKey(prop)">
            <mat-icon>unfold_more</mat-icon>
          </button>
        </span>
        <saorsa-ngx-inspect-tree-view *ngIf="!childrenCollapsedStates[prop]"
                                      [toggle$]="toggle$"
                                      [data]="getPropertyValue(prop)"
                                      [depth]="depth + 1"></saorsa-ngx-inspect-tree-view>
      </span>
  </div>
</ng-template>
