<span [ngSwitch]="inspectType">
  <span *ngSwitchCase="'undefined'" class="atom-undefined">
    undefined
  </span>
  <span *ngSwitchCase="'null'" class="atom-null">
    null
  </span>
  <span *ngSwitchCase="'function'" class="atom-function">
    function
  </span>
  <span *ngSwitchCase="'boolean'" class="atom-boolean">
    {{data | json}}
  </span>
  <span *ngSwitchCase="'number'" class="atom-number">
    {{data | json}}
  </span>
  <span *ngSwitchCase="'string'" class="atom-string">
    {{data | json}}
  </span>
  <div *ngSwitchCase="'object'" [ngClass]="{ 'ps-4': depth > 0}">
    <ng-container [ngTemplateOutlet]="arrayOrObjectTemplate"></ng-container>
  </div>
  <div *ngSwitchCase="'array'" [ngClass]="{ 'ps-4': depth > 0}">
    <ng-container [ngTemplateOutlet]="arrayOrObjectTemplate"></ng-container>
  </div>
  <span *ngSwitchDefault>
    Unknown inspect type {{inspectType}}
  </span>
</span>

<ng-template #arrayOrObjectTemplate>
  <div *ngFor="let prop of propertyKeys" class="property-node"
    (click)="copyNode(prop); $event.stopPropagation()"
    (mouseenter)="handleMouseOver(true)"
    (mouseleave)="handleMouseOver(false)">
    <span class="property-key">{{prop}}</span>
    <span *ngIf="isArrayOrObject(prop)" class="property-actions">
      <span *ngIf="!areChildrenCollapsedForKey(prop)"
            (click)="collapseChildrenForKey(prop); $event.stopPropagation()">
        <mat-icon>close_fullscreen</mat-icon>
      </span>
      <span *ngIf="areChildrenCollapsedForKey(prop)"
            (click)="expandChildrenForKey(prop); $event.stopPropagation()">
        <mat-icon *ngIf="isChildObject(prop)">data_object</mat-icon>
        <mat-icon *ngIf="isChildArray(prop)">data_array</mat-icon>
      </span>
    </span>
    <span *ngIf="!areChildrenCollapsedForKey(prop)"> : </span>
    <span class="property-value">
        <saorsa-ngx-inspect-tree-view *ngIf="!isArrayOrObject(prop) || !childrenCollapsedStates[prop]"
          (onMouseOver)="handleChildMouseOver($event)"
          [keyPath]="keyPath + '.' + prop"
          [toggle$]="toggle$"
          [data]="getPropertyValue(prop)"
          [depth]="depth + 1"></saorsa-ngx-inspect-tree-view>
      </span>
  </div>
</ng-template>
