@import "~bootstrap/scss/bootstrap"

.mat-button-toggle-group
  height: 32px
  align-items: center

.ngx-flex-spacer
  flex: 1 1 auto

.raw-preview-container
  max-height: 450px
  overflow: scroll
  &:hover
    background: rgba(25, 100, 240, 0.1)
    font-size: larger
  pre
    font-family: "Courier New", monospace
    margin: 0
