<mat-toolbar [color]="color">
  <mat-icon *ngIf="iconName" class="me-1">{{iconName}}</mat-icon>
  <span>{{title}}</span>
  <span class="ngx-flex-spacer"></span>
  <button *ngIf="inspectMode === 'hierarchical'"
    mat-icon-button (click)="expandCollapse.next('expand')" class="me-1"
    matTooltip="Expand all">
    <mat-icon>open_in_full</mat-icon>
  </button>
  <button *ngIf="inspectMode === 'hierarchical'"
          mat-icon-button (click)="expandCollapse.next('collapse')" class="me-1"
          matTooltip="Collapse all">
    <mat-icon>close_fullscreen</mat-icon>
  </button>
  <button mat-icon-button (click)="copyRaw()" class="me-2"
    matTooltip="Copy JSON representation">
    <mat-icon>content_copy</mat-icon>
  </button>
  <mat-button-toggle-group
    [formControl]="inspectModeControl" (change)="onToggleInspectMode($event)">
    <mat-button-toggle value="raw" aria-label="Raw preview" matTooltip="Toggle raw preview">
      <mat-icon>raw_on</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="hierarchical" aria-label="Hierarchical preview"
                       matTooltip="Toggle hierarchical preview">
      <mat-icon>account_tree</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>
<div class="p-2">
  <div *ngIf="inspectMode === 'raw'" class="raw-preview-container">
    <pre #dataJsonPreview>{{data | json}}</pre>
  </div>
  <div *ngIf="inspectMode === 'hierarchical'" class="preview-container">
    <saorsa-ngx-inspect-tree-view
      [toggle$]="expandCollapse"
      [data]="data"></saorsa-ngx-inspect-tree-view>
  </div>
</div>
